<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      SÉRIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
    </ion-card-header>
  
    <ion-item color="dark">
      <h1>Flash<span>(2014)</span></h1>
    </ion-item>

  <ion-item color="medium">
    <div class="info ion-text-center">
    <span class="tipo">TV-PG</span> <span class="duracao">44min</span>
    <p>Drama, Sci-Fi & Fantasy</p>
  </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris,
         mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
    </div>
  </ion-item>

  </ion-card> 

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w220_and_h330_face/cfhfcEt4bOXuVZkTC0nNBpqqiWb.jpg">
    </ion-card-header>
  
    <ion-item color="dark">
      <h1>The 100<span>(2014)</span></h1>
    </ion-item>

  <ion-item color="medium">
    <div class="info ion-text-center">
    <span class="tipo">TV-14</span> <span class="duracao">43min</span>
    <p>Sci-Fi & Fantasy, Drama, Action & Adventure</p>

  </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Noventa e sete anos após uma guerra mundial nuclear, a raça humana está vivendo no espaço.
        Cem delinquentes juvenis são enviados à Terra para ver se o planeta está em condições de ser habitado novamente.</p>
    </div>
  </ion-item>

  </ion-card>

</ion-content>
