<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
     ANIMES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list >

  <ion-item lines="full">

    <ion-thumbnail slot="start">
      <img src="assets/hotd.jpg">
    </ion-thumbnail>

    <ion-label>
      <h4>H.O.T.D.</h4>
    </ion-label>

    <div slot="end" class="c100 p75 small green">
      <span>75%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

  <ion-item lines="full">

    <ion-thumbnail slot="start">
      <img src="assets/death.jpg">
    </ion-thumbnail>

    <ion-label>
      <h4>Death Note</h4>
    </ion-label>

    <div slot="end" class="c100 p90 small green">
      <span>90%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>

  </ion-item>

    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="assets/titan.jpg">
      </ion-thumbnail>
  
      <ion-label>
        <h4>Attack On Titan</h4>
      </ion-label>
  
      <div slot="end" class="c100 p80 small green">
        <span>80%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  
    </ion-item>


    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="assets/tokyo.jpg">
      </ion-thumbnail>
  
      <ion-label>
        <h4>Tokyo Ghoul</h4>
      </ion-label>
  
      <div slot="end" class="c100 p62 small orange">
        <span>62%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  
    </ion-item>

    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="assets/nanatsu.jpg">
      </ion-thumbnail>
  
      <ion-label>
        <h4>Nanatsu No Taizai</h4>
      </ion-label>
  
      <div slot="end" class="c100 p45 small red">
        <span>45%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  
    </ion-item>
  

</ion-list>
 
</ion-content>
